.ow_name{
   font-family: 'Sofia';font-size: 22px;
   color: #fff;
   padding:1px 0;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    .ow_name h1{
        font-size: 20px;
    }
    .col-height{
        height:50px;
    }
    }
.col-height{
    height:150px;
}