# Dependency directories


# Logs
logs
*.log
npm-debug.log*

#npm env package file
package-lock.json

#vscode ignore files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
